JAVA_OPTS="-Declair.watcher-type=bitcoind\
 -Declair.bitcoind.host=127.0.0.1\
 -Declair.bitcoind.rpcuser=\
 -Declair.bitcoind.rpcpassword=\
 -Declair.api.binding-ip=0.0.0.0\
 -Declair.api.enabled=true\
 -Declair.api.password=\
 -Declair.node-alias=eclair\
 -Declair.printToConsole\
 -Declair.monitoring.enabled=true\
 -Declair.monitoring.influxDb.database=metrics\
 -Declair.monitoring.influxDb.host=10.5.0.2"